* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
}

a {
    color: rgb(50, 2, 207);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}